Language: Cpp
BasedOnStyle: Microsoft
PointerAlignment: Left
BreakBeforeBraces: Stroustrup
IndentCaseLabels: true
IndentAccessModifiers: true
AccessModifierOffset: 0
MaxEmptyLinesToKeep: 4
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignArrayOfStructures: Left
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
IndentRequiresClause: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false